//
//Color system
//

// ACCUEIL
// violet
$_color_accueil: #646085;

// SAISON
// Rose
$_color_saison: #f24c8a;

// ACTIONS CULTURELLES
// Jaune
$_color_actions: #dce264;

// ACTUALITES
// violet
$_color_actus: #646085;

// L'ORCHESTRE
// Vert
$_color_orchestre: #158498;

// MEDIATHEQUE
// violet
$_color_medias: #646085;

// NEWSLETTER
// Mordoré
$_color_nl: #aa8936;


