//
//Color system
//

// /////////////////////////////////
// VARIABLES DES COULEURS
// /////////////////////////////////

// BLANC
$color_blanc: #fff;

// BLANC
$color_blanc_transparent: rgba(255, 255, 255, 0.901);

// GRIS
$color_gris_clair: #CACACA;
$color_gris_fonce: #A09F9F;

// NOIR CLAIR
$color_noir_clair: #717171;
// NOIR MOYEN
$color_noir_moyen: #545454;
// NOIR FONCE
$color_noir_fonce: #454545;
$color_noir_tres_fonce: #353535;

// VIOLET
$color_violet: #646085;
// ROSE
$color_rose: #f24c8a;
// JAUNE
$color_jaune: #dce264;
// VERT
$color_vert: #158498;
// MORDORE
$color_mordore: #aa8936;

//ORANGE
$color_orange: #FA6400;

// ///////////////////////////////////////////
// VARIABLES DES AFFECTATIONS DES COULEURS
// ///////////////////////////////////////////

///// BACKGROUD DE LA PAGE

// BACKGROUND BODY
$color_body_bg: $color_gris_fonce;
// BACKGROUND PAGE
$color_page_bg: $color_blanc;

// BACKGROUND NEWSLETTER
$color_newsl_bg: $color_mordore;

// BACKGROUND FOOTER
$color_footer_bg: $color_noir_tres_fonce;


///// COULEURS PAR PAGE

// ACCUEIL
$color_accueil: $color_violet;
// SAISON
$color_saison: $color_rose;
// ACTIONS CULTURELLES
$color_actions: $color_jaune;
// ACTUALITES
$color_actus: $color_violet;
// L'ORCHESTRE
$color_orchestre: $color_vert;
// MEDIATHEQUE
$color_medias: $color_violet;
// NEWSLETTER
$color_nl: $color_mordore;


// ///////////////////////////////////////////
// CLASSES DES COULEURS BACKGROUND
// ///////////////////////////////////////////

.bg_color_noir_tres_fonce {
    background-color: $color_noir_tres_fonce;
}
.bg_color_noir_clair {
    background-color: $color_noir_clair;
}
.bg_color_gris_clair {
    background-color: $color_gris_clair;
}

.bg_color_saison {
    background-color: $color_saison;
}
.bg_color_accueil {
    background-color: $color_accueil;
}
.bg_color_orchestre {
    background-color: $color_orchestre;
}

.bg_color_newsl {
    background-color: $color_newsl_bg;
}

.bg_color_footer {
    background-color: $color_footer_bg;
}



// ///////////////////////////////////////////
// CLASSES DES COULEURS DE TEXTE
// ///////////////////////////////////////////

.tx_color_noir_tres_fonce {
    color: $color_noir_tres_fonce;
}

.tx_color_noir_fonce {
    color: $color_noir_fonce;
}
.tx_color_noir_clair {
    color: $color_noir_clair;
}
.tx_color_gris_fonce {
    color: $color_gris_fonce;
}


.tx_color_blanc {
    color: white;
}
.tx_color_gris_clair {
    color: $color_gris_clair;
}

.tx_color_saison {
    color: $color_saison;
}
.tx_color_accueil {
    color: $color_accueil;
}
.tx_color_orchestre {
    color: $color_orchestre;
}
