/* CSS */
/* fonts */


@font-face {
  font-family: 'snellroundhand_regular';
  src: url('../fonts/snellroundhand_regular.otf') format('truetype');
}

@font-face {
  font-family: 'snellroundhand_bold';src: url('../fonts/snellroundhand_bold.otf') format('truetype');
}

@font-face {
  font-family: 'snellroundhand_black';src: url('../fonts/snellroundhand_black.otf') format('truetype');
}

@font-face {
  font-family: 'raleway_thin';src: url('../fonts/raleway_thin.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_thinitalic';src: url('../fonts/raleway_thinitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_extralight';src: url('../fonts/raleway_extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_extralightitalic';src: url('../fonts/raleway_extralightitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_light';src: url('../fonts/raleway_light.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_lightitalic';src: url('../fonts/raleway_lightitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_regular';src: url('../fonts/raleway_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_italic';src: url('../fonts/raleway_italic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_medium';src: url('../fonts/raleway_medium.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_mediumitalic';src: url('../fonts/raleway_mediumitalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_semibold';src: url('../fonts/raleway_semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_semibolditalic';src: url('../fonts/raleway_semibolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_bold';src: url('../fonts/raleway_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_bolditalic';src: url('../fonts/raleway_bolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_extrabold';src: url('../fonts/raleway_extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_extrabolditalic';src: url('../fonts/raleway_extrabolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_black';src: url('../fonts/raleway_black.ttf') format('truetype');
}

@font-face {
  font-family: 'raleway_blackitalic';src: url('../fonts/raleway_blackitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'chalkduster';src: url('../fonts/chalkduster.ttf') format('truetype');
}


