/* CSS */
/* fonts */


@font-face {
  font-family: 'ubuntu_bold';src: url('../fonts/ubuntu_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu_courant';src: url('../fonts/ubuntu_courant.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu_fin';src: url('../fonts/ubuntu_fin.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu_leger';src: url('../fonts/ubuntu_leger.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu_moyen';src: url('../fonts/ubuntu_moyen.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu_moyen_italique';src: url('../fonts/ubuntu-moyen_italique.ttf') format('truetype');
}

// ///////////////////////////////////////////
// CLASSES DES FONT
// ///////////////////////////////////////////

.ubuntu_leger {
  font-family: ubuntu_leger;
}
.ubuntu_fin {
  font-family: ubuntu_fin;
}

.ubuntu_bold {
  font-family: ubuntu_bold;
}

.ubuntu_moyen {
  font-family: ubuntu_moyen;
}