/* CSS */
/* GRID */

/* ******************************************************
** SKIN de la page et de ses grandes section
****************************************************** */
/*
/* GRID MENU PRINCIPAL*/
.grid_2col12_1row {
    display: grid;
    grid-template-columns: minmax(0, 35%) minmax(0, 65%);
    column-gap: 10px;
    align-items: center;
}

/* GRID BANNER TOP*/
.grid_2col12_3row {
    display: grid;
    grid-template-columns: minmax(0, 35%) minmax(0, 65%);
    grid-template-rows: minmax(0, 55%) minmax(0, 22%) minmax(0, 23%);
}
.grid_1col1_1row {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-items: center;
}