/* CSS */
/* GRID */

/* ******************************************************
** LES GRID DU SITE
****************************************************** */

/* GRID PLAINBOX */
.grid {
    display: grid;
}

/* ******************************************************
** POSITIONNEMENT DES ELEMENTS DANS LA GRILLE */

/* CARREE BLANC */
.grid_area_11 {
    grid-column: 1;
    grid-row: 1;
}

/* ******************************************************
** ALIGNEMENTS */

.align_center {
    align-items: center;
}
.justify_center {
    justify-items: center;
}



/* ******************************************************
** COLUMS */

/* GRID NAV BAR TOP DESKTOP*/
.grid_2col12_1row {
    grid-template-columns: minmax(0, 35%) minmax(0, 65%);
}
/* GRID NAV BAR TOP MOBILE*/
.grid_2col12_1row_mob {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    @include mobilexs {
        grid-template-columns: 1fr;
    }
}

/* GRID BANNER TOP */
.grid_2col12_3row {
    height: 546px;
    @media screen and (max-width:990px){
        height: 452px;
    }
    @media screen and (max-width:890px){
        height: 486px;
    }
    @media screen and (max-width:790px){
        height: 355px;
    }
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 55% 22% 25%;
}
/* GRID BANNER ACCROCHE*/
.grid_1col1_1row {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

/* BANNER TOP MOBILE*/
.grid_2col12_3row_mobile {
    height: 666px;
    @media screen and (max-width:700px){
        height: 397px;
    }
    @media screen and (max-width:600px){
        height: 340px;
    }
    @media screen and (max-width:500px){
        height: 279px;
    }
    @media screen and (max-width:400px){
        height: 223px;
    }
    @media screen and (max-width:300px){
        height: 166px;
    }
    @media screen and (max-width:200px){
        height: 112px;
    }

    display: grid;
    grid-template-columns: 24px auto;
    @media screen and (max-width:400px){
        grid-template-columns: 15px auto;
    }
    grid-template-rows: 70% 30%;
    margin-right: -15px;
    margin-left: -15px;
}



/* GRID FOOTER CONTACTS */
.grid_2col12 {
    display: grid;
    grid-template-columns: 35% 65%;
    @include mobile {
        grid-template-columns: 1fr;
    }
}
/* GRID FOOTER CONTACTS */
.grid_10col {
    display: grid;
    grid-template-columns: repeat(5,17px max-content);
    @media screen and (max-width:940px){
        grid-template-columns: repeat(1,17px max-content);
        row-gap: 10px;
    }
    column-gap: 10px;
    align-items: center;
}

/* LOGOS PARTENAIRE AVEC MENTION FICHE CONCERT */
.grid_2colmax_1row {
    display: grid;
    grid-template-columns: minmax(50px, 110px) auto;
    column-gap: 7px;
}
/* LOGOS PARTENAIRES FICHE CONCERT */
.grid_autocolmax_autorow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 110px));
    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(50px, 90px));
    }
    column-gap: 7px;
    row-gap: 7px;
}
/* 3 VIDEOS PAGE CONCERT*/
/* LISTE DES CONCERTS PAGE AGENDA */
.grid_3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include mobile {
        grid-template-columns: 1fr;
    }
}
.grid_3col_liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width:799px){
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width:400px){
        grid-template-columns: 1fr;
    }
}
.grid_column_gap10 {
    column-gap: 10px;
}
.grid_column_gap24 {
    column-gap: 24px;
}
.grid_row_gap10 {
    row-gap: 10px;
}
.grid_row_gap50 {
    row-gap: 50px;
}


/* FOOTER LOGOS INSTITUTIONNELS*/
.grid_2col1111_2row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 42px;
    @include mobile {
        column-gap: 5px;
    }
    row-gap: 21px;
}

/* GRID FICHE CONCERT PARTENAIRE MENTION*/
.grid_2col12_5row {
    display: grid;
    grid-template-columns: minmax(0, 35%) minmax(0, 65%);
    grid-template-rows: auto auto auto auto;
    @include mobile {
        grid-template-columns: 1fr;
    }
}

/* LES PHOTOS PAGE CONCERT*/
.grid_photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
    grid-auto-rows: minmax(10px, auto);
    column-gap: 10px;
    row-gap: 10px;
}


