/* CSS */
/* TEMPLATE */

/* ******************************************************
** Positionnement des grandes sections
****************************************************** */

.block {
    display: block;
}


.relative {
    position: relative;
}

/*****************************************
* IMAGE */

/* IMAGE DE LA BANNIERE */
/* LOGO TOP BAR */
/* L'image est ajusté à la taille de la grille (hauteur et largeur) */
.img_ajust {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_ajust_liste {
    width: 100%;
}

/* LOGO FOOTER */
/* L'image est ajusté à la largeur */
.img_width {
    width: 100%;
}
/* TOP BAR MOBILE */
.img_width_auto {
    width: auto;
}

/* POUR SVG LOGOS INSTITUTIONNELS PAGE ACCUEIL */
.img_svg {
    width: 100%;
    max-height: 134px;
}

/*************************************/
/* ****** WIDTH & HEIGHT *********/

.max_width_250 {
    max-width: 250px;
}

.height_min_200 {
    min-height: 200px;
}

/*************************************/
/* ****** MARGINS & PADDINGS *********/

/* ANNUL MARGIN PAGE DESKTOP */
.nopagemarge_desk {
    @include nomobile {
        margin-right: -35px;
        margin-left: -35px;
    }
}

/* ANNUL MARGIN PAGE MOBILE */
.nopagemarge_mob {
    @include mobile {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.margint_-4{
    margin-top: -4px;
}

/* BANNER ACCROCHE FICHE CONCERT */
.margint_20 {
    margin-top: 20px;
}
/* LISTE DES CONCERTS */
.margint_40 {
    margin-top: 40px;
}

.margint_70 {
    margin-top: 70px;
}
.margint_90 {
    margin-top: 90px;
}

.marginr_20 {
    margin-right: 20px;
}
.marginr_40 {
    margin-right: 40px;
}


/* LISTE DES CONCERTS */
.marginb_3 {
    margin-bottom: 3px;
}
/* PROCHAIN CONCERT */
.marginb_4 {
    margin-bottom: 4px;
}
/* FICHE CONCERT INFO SALLE / Nom salle + site internet */
.marginb_6 {
    margin-bottom: 6px;
}
.marginb_20 {
    margin-bottom: 20px;
}
.margin_section_botton {
    margin-bottom: 40px;
}
.margin_section_botton_mobile {
    @include mobile {
        margin-bottom: 40px;
    }
}

.marginb_50 {
    margin-bottom: 50px;
}

.marginl_-3 {
    margin-left: -3px;
}
.marginl_20 {
    margin-left: 20px;
}

/* INFORMATIONS FICHE CONCERT DATE / MENTIONS ANNULE*/
.paddingt_3 {
    padding-top: 3px;
}
.paddingt_5 {
    padding-top: 5px;
}
/* LISTE CONCERTS ARTSITES */
.paddingt_7 {
    padding-top: 7px;
}
/* LISTE CONCERTS ARTSITES */
.paddingt_12 {
    padding-top: 12px;
}
.paddingt_15 {
    padding-top: 15px;
}
/* FOOTER CONTACTS */
.paddingt_20 {
    padding-top: 20px;
}

/* AGENDA TITRE */
.paddingt_30 {
    padding-top: 30px;
}


/* LISTE ARTISTE FICHE CONCERT */
/* LISTE OEUVRE FICHE CONCERT */
.paddingr_8 {
    padding-right: 8px;
}
.paddingr_15 {
    padding-right: 15px;
}
.paddingb_1 {
    padding-bottom: 1px;
}
.paddingb_3 {
    padding-bottom: 3px;
}
.paddingb_5 {
    padding-bottom: 5px;
}
.paddingb_10 {
    padding-bottom: 10px;
}
.paddingb_15 {
    padding-bottom: 15px;
}
/* FOOTER CONTACTS */
.paddingb_20 {
    padding-bottom: 20px;
}
.paddingb_20_mobile {
    @include mobile {
        padding-bottom: 20px;
    }
}

/* FOOTER CONTACTS BOUTON ENVOYER UN MESSAGE */
.paddingb_36 {
    padding-bottom: 36px;
}

.paddingl_15 {
    padding-left: 15px;
}
/* FOOTER CONTACTS */
.paddingl_100 {
    padding-left: 100px;
}
.paddingl_35_mobile {
    @include mobile {
        padding-left: 35px;
    }
    @include mobilexs {
        padding-left: 15px;
    }
    
}



