/* CSS */
/* TEMPLATE */

/* ******************************************************
** SKIN de la page et de ses grandes section
****************************************************** */

html, body {
    background-color: $color_body_bg;
}

.page {
    background-color: $color_page_bg;
    box-shadow: 1px 1px 8px -3px #c3c4c4;
}