/* CSS */
/* TEMPLATE */

/* ******************************************************
** Positionnement de la page et de ses grandes section
****************************************************** */

.page {
    max-width: 1326px;
    margin-right: auto;
    margin-left:  auto;
    padding-right: 35px;
    padding-left:  35px;
    padding-top:  25px;
}

