/* CSS */
/* TEMPLATE */

/* ******************************************************
** Positionnement de la page et de ses grandes section
****************************************************** */

.body {
    background-color: gray;
}

.page {
    max-width: 1326px;
    margin-right: auto;
    margin-left:  auto;
    padding-right: 20px;
    padding-left:  20px;
    padding-top:  20px;
}

