/* CSS */
/* MODULE */

/* ******************************************************
** MENUS
****************************************************** */

.menu_main {
    /* Alignement dans la GRID */
    text-align: end;
    @include topbar_hamburger {
        display: grid;
        justify-items: end;
        grid-column: 1/3;   
    }
}

.menu_item {
    display: inline-block;
    @include topbar_hamburger {
        display: block;
    }
    padding-left: 8px;
    padding-right: 8px;

    text-align: center;
    @include topbar_hamburger {
        text-align: left;
    }
    
    /* PIPE ENTRE LES MENUS ITEM */
    @include topbar_desktop {
        border-right: solid 1px $color_noir_fonce;
        &:last-child {
            border-right: solid 0px;
        }
    }

    /* DROPDOWN */
    /* Postionnement du Menu par rapport au sous-menu */
    @include topbar_desktop {
        position: relative;
        /* au survol du niveau 1, le sous-menu apparait */
        &:hover {
            .sub_menu {
                visibility: visible;
                /* Pour l'effet de transition */
                opacity: 1;
            }
        }
    }
}

.sub_menu {
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 16px;
    text-align: left;
    @include topbar_hamburger {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    /* DROPDOWN */
    /* Postionnement du sous-menu */
    @include topbar_desktop {
        position: absolute;
        left: 0;
        /* Sous-menu caché */
        visibility:hidden;
        /* Pour l'effet de transition */
        opacity: 0;
        transition: visibility 0.2s,opacity 0.2s cubic-bezier(0.4, 0, 1, 1);
    }
    
}

.sub_menu_item {
    padding-bottom: 9px;
}


















