/* CSS */
/* MODULE */

/* ******************************************************
** BANNER  TOP HEADER
****************************************************** */

/*************************************/
/* DESKTOP vs MOBILE */

.banner_top {
    @include mobile {
        display: none;
    }
}
.banner_top_mobile {
    @include nomobile {
        display: none;
    }
}

/*************************************/
/* PLACEMENT DANS LES CASES DE LA GRILLE */
.Title_cell {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
}
.accroche_cell {
    grid-column: 1;
    grid-row: 2 / 4;
    overflow: hidden;
    @include mobile {
        grid-column: 2;
        grid-row: 3;
    }
}
.illustration_cell {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.nav_res_soc_cell {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

.case_couleur_12 {
    grid-column: 1;
    grid-row: 2;
}


/*************************************/
/* ESPACEMENT ENTRE LES SECTIONS */
.accroche_cell {
    margin-left: -35px;
    @include mobile{
        margin-left: -15px;
        margin-right: -15px;
    }
}

/*************************************/
/* PLACEMENT DANS LA CASE ACCROCHE */
.accroche_cell {
    padding-bottom: 20px;
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 16px;
    @media screen and (max-width:910px){
        padding-left: 18px;
    }
    @media screen and (max-width:751px){
        padding-top: 20px;
        padding-right: 15%;
    }
    @media screen and (max-width:751px){
        padding-left: 15px;
    }
    overflow: hidden;
}

.titre_page_container {
    padding-right: 15px;
    padding-top: 15px;
    @include mobile{
        padding-bottom: 20px;
    }
}