/* CSS */
/* MODULE */

/* ******************************************************
** FICHE DU CONCERT - TOUTES LES INFOS
****************************************************** */

/*************************************/
/* PLACEMENT DANS LES CASES DE LA GRILLE */

.distribution_concert_cell {
    @include nomobile {
        grid-column: 1;
        grid-row: 1 / 2;
    }
}
.dates_concert_cell {
    @include nomobile {
        grid-column: 1;
        grid-row: 2/5;
    }
}
.programme_concert_cell {
    @include nomobile {
        grid-column: 2;
        grid-row: 1 / 4;
    }
    @include mobile {
        grid-row: 1;
    }
}
.partenaires_concert_cell {
    @include nomobile {
        grid-column: 2;
        grid-row: 4;
    }
}


/*************************************/
/* POSITIONNEMENT DES ELEMENTS */

/* Distribution */
.artiste {
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* Programme */
.programme_concert_cell {
    @include nomobile {
        margin-left: 89px;
    }
}

/* Partenaire */
.partenaires_concert_cell {
    @include nomobile {
        margin-left: 89px;
    }
}
.partenaires_concert_list {
    margin-top: 20px;
}

/* DATES */
.date_item {
    margin-bottom: 10px;
}
.jour {
    padding-left: 2px;
    padding-right: 2px;
}
.ville {
    padding-left: 5px;
    padding-right: 8px;
}
.infos_salle {
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 15px;
    padding-top: 11px;
    padding-right: 5px;
    padding-bottom: 11px;
    padding-left: 13px;
    box-shadow: 0px 0px 3px 0 #d0cdcd;
    display: none;
}
.icone {
    img {
        width: 25px;
        }
    cursor: pointer;
}
.ouvrir {
    display: block;
}

.nom_salle {
    margin-bottom: 6px;
}
.nom_salle_content {
    padding-right: 20px;
}
.adresse_salle {
    margin-bottom: 5px;
}
.contact_salle {
    margin-bottom: 6px;
}
.telephone_salle {
    padding-right: 5px;
}