/* CSS */
/* MODULE */

/* ******************************************************
** BARRE DE NAVIGATION + LOGO
****************************************************** */
.top_bar_desktop {
    display: grid;
    @include topbar_hamburger {
        display: none;
    }
}

.top_bar_mobile {
    display: none;
    @include topbar_hamburger {
        display: grid;
    }
    margin-top: -35px;
    margin-right: -35px;
    margin-bottom: 12px;
    @media screen and (min-width:$breakpoint_tablette) and (max-width:$breakpoint_topbar_hamburger) {
        margin-bottom: 42px;
    }
    margin-left: -35px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 35px;
    padding-left: 35px;
    @include mobilexs {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.top_bar_height_logo {
    height: 14vw;
    @include mobilexs {
        height: 18vw;
    }
}
