/* CSS */
/* MODULE */

/* ******************************************************
** SLIDER
** TÉMOIGNAGE
** REVUE DE PRESSE
****************************************************** */

.slide_hidden {
    /* visibility: hidden; */
    display: none;
}
.slide_active {
    visibility: visible;
}
.slide_hidden_revuepresse {
    /* visibility: hidden; */
    display: none;
}
.slide_active_revuepresse {
    visibility: visible;
}