/* CSS */
/* MODULE */

/* ******************************************************
** LES ENCOCHES (PETITS CARRES)
****************************************************** */

.encoche_one_card {
    .encoche_blanc {
            width: 32px;
            height: 27px;
            margin-top: -1px;
            margin-left: -1px;
            background-color: white;
    }
    .encoche_blanc_grand {
        width: 40px;
        height: 32px;
        margin-top: -1px;
        margin-left: -1px;
        background-color: white;
}
}

.encoche_rose {
    width: 22px;
    height: 22px;
    background-color: $color_saison;
}
.encoche_violet {
    width: 22px;
    height: 22px;
    background-color: $color_medias;
}

.encoche_white {
    width: 14px;
    height: 14px;
    background-color: white;
}

/* DATE CADRE */
.date_cadre_container {
    margin-top: -38px;
    margin-left: -38px;
    @include mobile {
        margin-left: -20px;
    }
}
.date_cadre_border {
    border-bottom: solid 2px $color_noir_moyen;
}
.date_cadre_1 {
    transform: rotate(-35deg);
    order: 3;
    width: 60px;
    height: 40px;
    background-color: white;
    margin-top: 0px;
    margin-left: 0px;
    @include mobilexs {
        width: 46px;
    }
}
.date_cadre_2 {
    order: 3;
    width: 80px;
    height: 40px;
    background-color: white;
    margin-top: -7px;
    margin-left: 19px;
    @include mobilexs {
        width: 64px;
        margin-left: 10px;
    }
}
.date_cadre_texte {
    width: 75px;
    height: 40px;
}
.date_cadre_texte_1 {
    margin-top: -66px;
    margin-left: 9px;
    @include mobilexs {
        margin-top: -61px;
    }
}
.date_cadre_texte_2 {
    margin-top: -4px;
    margin-left: 39px;
    @include mobilexs {
        margin-left: 25px;
    }
}
.date_cadre_texte_jour {
    font-family: didot_regular_italic;
    font-size: 27px;
    @include mobilexs {
        font-size: 17px;
    }
}
.date_cadre_texte_mois {
    padding-left: 3px;
    font-family: didot_regular;
    font-size: 14px;
    text-transform: lowercase;
    vertical-align: top;
    line-height: 8px;
}

/* LISTE DES CONCERTS */
.encoche_list_card {
    @media screen and (min-width:800px) and (max-width:10000px) {
        &:nth-of-type(1){
                .encoche_blanc {
                    width: 32px;
                    height: 27px;
                    margin-top: -1px;
                    margin-left: -1px;
                    background-color: white;
            }
        }
        &:nth-of-type(5){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(9){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(10){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(14){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(18){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(19){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(23){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(27){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(28){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(32){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(36){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(37){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(41){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(45){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
    }



    @media screen and (min-width:401px) and (max-width:799px){
        &:nth-of-type(1){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
        }
        }
        &:nth-of-type(4){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(5){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(8){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(9){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(12){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(13){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(16){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(17){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(20){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(21){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(24){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(25){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(28){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;
            }
        }
        &:nth-of-type(29){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(32){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(33){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(36){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(37){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(40){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(41){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
        &:nth-of-type(44){
            .encoche_blanc {
                width: 32px;
                height: 27px;
                margin-top: -1px;
                margin-left: -1px;
                background-color: white;    
            }
        }
    }





    @media screen and (min-width:0px) and (max-width:400px){
        &:nth-of-type(2n-1){
                .encoche_blanc {
                    width: 32px;
                    height: 27px;
                    margin-top: -1px;
                    margin-left: -1px;
                    background-color: white;
            }
        }
    }

}