/* CSS */
/* body */

/* Positionnement du body. Taille max avec marge à droite et à gauche */

body {
    background-color: $wf_grisclair;
}

.body_wrapper {
    /* Pour le dev */ border: 0px solid black;
    /* Pour le dev */ background-color: white;
    max-width: 1326px;
    margin-right: auto;
    margin-left:  auto;
    padding-right: 20px;
    padding-left:  20px;
    padding-top:  20px;
}

.body_grid {
    display: grid;
    grid-gap: 20px;     
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
    "annonce annonce annonce annonce annonce annonce"
    "annonce annonce annonce annonce annonce annonce";;
}

header {
    grid-area: annonce;
}

main {
    margin-left:  -20px;
}