/* CSS */
/* CONTENT */

/* ******************************************************
** FORMATS DES ELEMENTS DE CONTENU
****************************************************** */


/*****************************************
* TITRES */

/* TITRE DE LA PAGE */
.titre_page_container {
    font-size: 31px;
    @include mobile { 
        font-size: 27px;
    }
}
.titre_card_container {
    font-size: 23px;
    @include mobile { 
        font-size: 17px;
    }
}
.titre_gras {
    font-family: ubuntu_moyen;
}
.titre_leger {
    font-family: ubuntu_fin;
}

/* TITRE DES CHAPITRES */
.titre_chapitre_container {
    font-size: 27px;
    @include mobilexs { 
        font-size: 20px;
    }
}

/* TITRE PLAINBOX */
.titre_plainbox_container {
    font-size: 40px;
    color: white;
    @include mobile { 
        font-size: 30px;
    }
    @include mobilexs { 
        font-size: 20px;
    }
}

/* PETITS TITRES */
.titre_paragraphe {
    font-family: ubuntu_courant;
}
.titre_paragraphe_size {
    font-size: 20px;
}

/*****************************************
* LINK */

a {
    text-decoration: none;
    color: inherit;
}

/*****************************************
* LISTE - MENU */

ul, li {
    list-style: none;
}

/* MAIN MENU */
/* NAV RESEAUX SOCIAUX */
.menu_item {
    cursor: pointer;
    @include topbar_hamburger {
        cursor: unset;
    }
    font-family: ubuntu_leger;
    font-size: 16px;
    @include topbar_hamburger {
        color: white;
        text-transform: uppercase;
    }
}
.sub_menu {
    background-color: $color_blanc_transparent;
    @include topbar_hamburger {
        color: $color_noir_fonce;
        text-transform: capitalize;
    }
    
}
.sub_menu_item {
    white-space: nowrap; /* pour ne pas revenir à la ligne*/
    font-family: ubuntu_fin;
    /* Au survol du sous-menu */
    &:hover {
        color: $color_noir_clair;
        font-family: ubuntu_moyen;
        letter-spacing: -0.4px;
    }
}

.menu_active {
    font-family: ubuntu_moyen;
}

.menu_res_soc_item {
    cursor: pointer;
    font-family: ubuntu_leger;

    font-size: 14px;
    @include mobile { 
        font-size: 15px;
    }
    &:hover {
        font-family: ubuntu_moyen;
        letter-spacing: -0.4px;
    }
}
.pipe_saison {
    border-right: solid 1px $color_saison !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}
.pipe_accueil {
    border-right: solid 1px $color_accueil !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}
/*****************************************
* IMAGE */

/* IMAGE DE LA BANNIERE */
/* LOGO TOP BAR */
/* L'image est ajusté à la taille de la grille (hauteur et largeur) */
.img_ajust {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_ajust_liste {
    width: 100%;
}

/* LOGO FOOTER */
/* L'image est ajusté à la largeur */
.img_width {
    width: 100%;
}
/* TOP BAR MOBILE */
.img_width_auto {
    width: auto;
}

/* POUR SVG LOGOS INSTITUTIONNELS PAGE ACCUEIL */
.img_svg {
    width: 100%;
    max-height: 134px;
}

/*****************************************
* BUTTON */

@mixin button ($pad-t, $pad-r, $pad-b, $pad-l, $radius) {
    padding-top: $pad-t;
    padding-right: $pad-r;
    padding-bottom: $pad-b;
    padding-left: $pad-l;
    border: 0px;
    border-radius: $radius;
    font-family: ubuntu_moyen;
}

/* BUTTON SITE INTERNET SALLE*/
.button_petit {
    @include button (8px, 15px, 7px, 15px, 14px)
}

/* BUTTON NEWSLETTER*/
.button_grand {
    @include button (13px, 26px, 13px, 26px, 22px)
}

/* BUTTON SITE INTERNET SALLE*/
.button_saison {
    color: white;
    background-color: $color_saison;
}
/* BUTTON NEWSLETTER*/
.button_newsl {
    color: $color_noir_fonce;
    background-color: white;
    font-size: 18px;
    @include mobile { 
        font-size: 14px;
    }
}



/*****************************************
* TEXTES */

/* FONT SIZE ***********************/
.fontsize_13 {
    font-size: 13px;
}

/* ALIGNEMENT */
.texte_right {
    text-align: right;
}
/* Distribution du concert */
.liste_art_comp {
    font-size: 14px;
}
/* DATES du concert */
.liste_date {
    font-size: 15px;
}

/* Texte divers simple */
/* LISTE DES CONCERTS ACCROCHE */
.tx_simple_size {
    font-size: 15px;
}


.alert {
    color: $color_orange;
}

.souligne {
    text-decoration: underline;
}

/* ACCROCHE */
.accroche_cell_texte {
    font-size: 21px;
    @media screen and (max-width:951px){
        font-size: 20px;
    }
    @media screen and (max-width:790px){
        font-size: 15px;
    }
    @media screen and (min-width:701px) and (max-width:729px){
        font-size: 14px;
    }
    color: $color_blanc;
}
.accroche_cell_texte_gras {
    font-family: ubuntu_moyen;
}
.accroche_cell_texte_leger {
    font-family: ubuntu_fin;
}

.duree_concert_titre {
    font-family: ubuntu_moyen;
}



/* CONTENT WP POST */
.content_wp {
    max-width: 570px;
    font-family: ubuntu_leger;
    font-size: 14px;
    p {
        margin-bottom: 13px;
        line-height: 20px;
    }
    strong {
        font-family: ubuntu_bold;
        color: black;
    }
    em {
        font-family: ubuntu_moyen_italique;
        color: black;
    }
}

