/* CSS */
/* CONTENT */

/* ******************************************************
** FORMATS DES ELEMENTS DE CONTENU
****************************************************** */

/*****************************************
* TITRES */

/* TITRE DE LA PAGE */
.titre_page_container {
    font-size: 33px;
}
.titre_page_gras {
    font-family: ubuntu_moyen;
}
.titre_page_leger {
    font-family: ubuntu_fin;
}

/* TITRE DES CHAPITRES */
.titre_chapitre_container {
    font-size: 26px;
}

/* PETITS TITRES */
.titre_paragraphe {
    font-family: ubuntu_courant;
    font-size: 20px;
}

/*****************************************
* ACCROCHE */

.accroche_cell_texte {
    font-size: 19px;
    color: $color_blanc;
}
.accroche_cell_texte_gras {
    font-family: ubuntu_moyen;
}
.accroche_cell_texte_leger {
    font-family: ubuntu_fin;
}

.duree_concert_titre {
    font-family: ubuntu_moyen;
}
/*****************************************
* LINK */

a {
    text-decoration: none;
    color: inherit;
}

/*****************************************
* LISTE - MENU */

ul, li {
    list-style: none;
}

.menu_item {
    cursor: pointer;
    font-family: ubuntu_leger;
    font-size: 16px;
}
.sub_menu {
    background-color: $color_blanc_transparent;
    
}
.sub_menu_item, .menu_item_level1 {
    white-space: nowrap; /* pour ne pas revenir à la ligne*/
    font-family: ubuntu_fin;
    /* Au survol du sous-menu */
    &:hover {
        color: $color_noir_clair;
        font-family: ubuntu_moyen;
        letter-spacing: -0.4px;
    }
}

.menu_active {
    font-family: ubuntu_moyen;
}

.menu_res_soc_item {
    &:hover {
        font-family: ubuntu_moyen;
        letter-spacing: -0.4px;
    }
}

/*****************************************
* IMAGE */

/* L'image est ajusté à la taille de la grille */
.img_ajust {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*****************************************
* TEXTES */

/* Distribution du concert*/
.artistes_list {
    font-size: 14px;
}
.artiste_nom {
    font-family: ubuntu_bold;
}
.artiste_poste {
    font-family: ubuntu_leger;
}

.content_wp {
    max-width: 570px;
    font-family: ubuntu_leger;
    font-size: 14px;
    p {
        margin-bottom: 13px;
        line-height: 20px;
    }
    strong {
        font-family: ubuntu_bold;
        color: black;
    }
    em {
        font-family: ubuntu_moyen_italique;
        color: black;
    }
}