/* CSS */
/* CONTENT */

/* ******************************************************
** FORMATS DES ELEMENTS DE CONTENU
****************************************************** */


/*****************************************
* BORDER */
.borderb {
    border-bottom: solid 1px $color_gris_fonce;
}
.bordert {
    border-top: solid 1px $color_gris_ultra_clair;
}
.borderb_white {
    border-bottom: solid 2px white;
}
.border_gris_clair {
    border: solid 2px $color_gris_clair;
}
.border_radius {
    border-radius: 10px;
}


/*****************************************
* TITRES */

/* TITRE DE LA PAGE */
.titre_page_container {
    font-size: 31px;
    @include mobile { 
        font-size: 27px;
    }
    @include mobilexs { 
        font-size: 22px;
    }
}
.titre_card_container {
    font-size: 20px;
    @include mobile { 
        font-size: 18px;
    }
}
.titre_card_container_grand {
    font-size: 26px;
    @include mobile { 
        font-size: 23px;
    }
}
.titre_gras {
    font-family: ubuntu_moyen;
    color: $color_noir_fonce;
}
.titre_leger {
    font-family: ubuntu_fin;
    color: $color_noir_fonce;
}

/* TITRE DES CHAPITRES */
.titre_chapitre_container {
    font-size: 27px;
    @include mobilexs { 
        font-size: 20px;
    }
}

/* PLAINBOX */
.titre_plainbox_container {
    color: white;
    @include mobile { 
        font-size: 30px !important;
    }
    @include mobilexs { 
        font-size: 20px !important;
    }
}
.texte_plainbox_container {
    color: white;
    @include mobile { 
        font-size: 22px !important;
    }
    @include mobilexs { 
        font-size: 18px !important;
    }
}

/* PETITS TITRES */
.titre_paragraphe {
    font-family: ubuntu_courant;
}
.titre_paragraphe_size {
    font-size: 20px;
    @include mobilexs {
        font-size: 17px;
    }
}

/*****************************************
* LINK */

a {
    text-decoration: none;
    color: inherit;
}

/*****************************************
* LISTE - MENU */

ul, li {
    list-style: none;
}

/* MAIN MENU */
/* NAV RESEAUX SOCIAUX */
.menu_item {
    cursor: pointer;
    @include topbar_hamburger {
        cursor: unset;
    }
    font-family: ubuntu_leger;
    font-size: 14px;
    @include topbar_hamburger {
        color: white;
    }
}
.sub_menu {
    background-color: $color_blanc_transparent;
    @include topbar_hamburger {
        color: $color_noir_fonce;
    }
    
}
.sub_menu_item {
    white-space: nowrap; /* pour ne pas revenir à la ligne*/
    font-family: ubuntu_fin;
    /* Au survol du sous-menu */
    &:hover {
        color: $color_noir_clair;
        font-family: ubuntu_moyen;
        letter-spacing: -0.4px;
    }
}

.menu_active {
    font-family: ubuntu_moyen;
}

.menu_res_soc_item {
    cursor: pointer;
    font-family: ubuntu_leger;

    font-size: 14px;
    @include mobile { 
        font-size: 15px;
    }
    &:hover {
        font-family: ubuntu_moyen;
        letter-spacing: -0.4px;
    }
}
.pipe_saison {
    border-right: solid 1px $color_saison !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}
.pipe_accueil {
    border-right: solid 1px $color_accueil !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}
.pipe_orchestre {
    border-right: solid 1px $color_orchestre !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}
.pipe_medias {
    border-right: solid 1px $color_medias !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}
.pipe_blanc {
    border-right: solid 1px $color_blanc !important;
    &:last-child {
        border-right: solid 0px !important;
    }
}


/*****************************************
* BUTTON */

@mixin button ($pad-t, $pad-r, $pad-b, $pad-l, $radius) {
    padding-top: $pad-t;
    padding-right: $pad-r;
    padding-bottom: $pad-b;
    padding-left: $pad-l;
    border: 0px;
    border-radius: $radius;
    font-family: ubuntu_moyen;
}

/* BUTTON SITE INTERNET SALLE*/
.button_petit {
    @include button (8px, 15px, 7px, 15px, 14px)
}

/* BUTTON PLAYER BANNIERE*/
.button_player_banniere {
    @include button (6px, 10px, 5px, 2px, 14px)
}

/* BUTTON NEWSLETTER*/
.button_grand {
    @include button (13px, 26px, 13px, 26px, 22px)
}

/* BUTTON SITE INTERNET SALLE*/
.button_saison {
    color: white;
    background-color: $color_saison;
}
.button_orchestre {
    color: white;
    background-color: $color_orchestre;
}
.button_culture_actions {
    color: white;
    background-color: $color_culture_actions;
}
.button_accueil {
    color: color_accueil;
    background-color: white;
}
.button_gris {
    color: white;
    background-color: $color_noir_clair;
}
.button_blanc {
    color: $color_noir_tres_fonce;
    background-color: $color_blanc;
}

/* BUTTON NEWSLETTER*/
.button_newsl {
    color: $color_noir_fonce;
    background-color: white;
    font-size: 15px;
    @include mobile { 
        font-size: 14px;
    }
}



/*****************************************
* TEXTES */

/* FONT SIZE ***********************/
.fontsize_10 {
    font-size: 10px;
}
.fontsize_11 {
    font-size: 11px;
}
.fontsize_13 {
    font-size: 13px;
}
.fontsize_14 {
    font-size: 14px;
}
.fontsize_15_mob {
    @include mobile {
        font-size: 15px !important;
    }
}
.fontsize_16 {
    font-size: 16px;
}
.fontsize_16_mobxs {
    @include mobilexs {
        font-size: 16px !important;
    }
}
.fontsize_18_mobxs {
    @include mobilexs {
        font-size: 18px !important;
    }
}
.fontsize_20 {
    font-size: 20px;
}
.fontsize_25 {
    font-size: 25px;
}
.fontsize_27 {
    font-size: 27px;
}
.fontsize_33 {
    font-size: 33px;
}

/* ALIGNEMENT ************************/
.texte_right {
    text-align: right;
}
.texte_center {
    text-align: center;
}

.texte_left_mob {
    @include mobile {
        text-align: left;
    }
}

/* Distribution du concert */
.liste_art_comp {
    font-size: 14px;
}
/* DATES du concert */
.liste_date {
    font-size: 14px;
}

/* Texte divers simple */
/* LISTE DES CONCERTS ACCROCHE */
.tx_simple_size {
    font-size: 15px;
}


.alert {
    color: $color_orange;
}

.souligne {
    text-decoration: underline;
}

/* ACCROCHE */
.accroche_cell_texte {
    font-size: 21px;
    @media screen and (max-width:951px){
        font-size: 20px;
    }
    @media screen and (max-width:790px){
        font-size: 15px;
    }
    @media screen and (min-width:701px) and (max-width:729px){
        font-size: 14px;
    }
    color: $color_blanc;
}
.accroche_cell_texte_gras {
    font-family: ubuntu_moyen;
}
.accroche_cell_texte_leger {
    font-family: ubuntu_fin;
}

.duree_concert_titre {
    font-family: ubuntu_moyen;
}



/* CONTENT WP POST */
.content_wp {
    max-width: 570px;
    font-family: ubuntu_leger;
    font-size: 14px;

    h3, p {
        margin-bottom: 13px;
        line-height: 20px;
    }

    h3 {
        text-transform: uppercase;
        font-family: ubuntu_moyen;
        font-size: 16px;
    }

    strong {
        font-family: ubuntu_bold;
        color: black;
    }
    em {
        font-family: ubuntu_moyen_italique;
        color: black;
    }
    ul {
        margin-bottom: 13px;
        li {
            margin-bottom: 4px;
            &:before {
                content: '—';
                padding-right: 7px;
            }
            ul {
                margin-top: 5px;
                li {
                    margin-bottom: 4px;
                    margin-left: 20px;
                    &:before {
                        content: '‣';
                        padding-right: 7px;
                    }
                }

                
            }
        }

    }
}

/* ROTATION DU TEXTE A LA VERTICALE */
.text_vertical {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 12px;
    @media screen and (min-width:500px){
        font-size: 16px;
    }
    @include mobilexs {
        font-size: 9px;
    }

}